{% load i18n %}
<div class="row text-center">
    <div class="col-lg-12">
        <ul class="pagination">
            <li>
                {% if page_obj.has_previous %}
                    <a href="?{{ page_obj.previous_page_number.querystring }}" class="prev">&laquo; {% trans "previous" %}</a>
                {% else %}
                    <span class="disabled prev">&laquo; {% trans "previous" %}</span>
                {% endif %}
            </li>
            {% for page in page_obj.pages %}
                {% if page %}
                        {% ifequal page page_obj.number %}
                            <li class="active"><span class="current page">{{ page }}</span></li>
                        {% else %}
                            <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                        {% endifequal %}
                {% else %}
                    <li><span>...</span></li>
                {% endif %}
            {% endfor %}
            <li>
                {% if page_obj.has_next %}
                    <a href="?{{ page_obj.next_page_number.querystring }}" class="next">{% trans "next" %} &raquo;</a>
                {% else %}
                    <span class="disabled next">{% trans "next" %} &raquo;</span>
                {% endif %}
            </li>
        </ul>
   </div>
</div>