<!doctype html>
<html class="home no-js" lang="">
{% load static i18n %}

<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta name="description" content="flat, clean, responsive, application frontend template built with bootstrap 3">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- /meta -->

    <title>Строим Дом</title>

    <!-- page level plugin styles -->
    <link rel="stylesheet" href="{% static 'plugins/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/owl-carousel/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/owl-carousel/owl.transitions.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/magnific-popup/magnific-popup.css' %}">
    <!-- /page level plugin styles -->

    <!-- core styles -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <!-- /core styles -->

    <!-- template styles -->
    <link rel="stylesheet" href="{% static 'css/skin/blue.css' %}" id="skin">
    <link rel="stylesheet" href="{% static 'css/fonts/opensans.css' %}" id="font">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon_logo.png' %}">
    <!-- template styles -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- load modernizer -->
    <script src="{% static 'plugins/modernizr.js' %}"></script>
</head>

<!-- body -->

<body>

    <!-- page loading spinner -->
    <div class="pageload">
        <div class="loader"></div>
    </div>
    <!-- /page loading spinner -->

    <!-- menu navigation -->
    <header class="header">
        <div class="container">
            <nav class="heading-font">

                <!-- branding -->
                <div class="branding">
                    <!-- toggle menu -->
                    <button type="button" class="mobile-toggle">
                        <span class="ti-menu"></span>
                    </button>
                    <!-- /toggle menu -->

                    <a href="{% url 'main' %}" class="logo transition">
{#                        Sublime#}
{#                        <img src="{% static 'img/logo_image_full_empty_back.png' %}">#}
                        Строим дом
                    </a>
                </div>
                <!-- /branding -->

                <!-- links -->
                <div class="navigation spy">
                    <ul class="nav">
                        <li class="hide">
                            <a href="#top"></a>
                        </li>
                        <li>
{#                            <a href="#how">How it works</a>#}
                            <a href="#how">О нас</a>
                        </li>
                        <li>
                            <a href="#features">Акции</a>
                        </li>
                        <li>
                            <a href="#partners">Партнеры</a>
                        </li>
{#                        <li>#}
{#                            <a href="#reviews">Предложения</a>#}
{#                        </li>#}
                        <li>
                            <a href="#callme">Обратный звонок</a>
                        </li>
{#                        <li>#}
{#                            <a href="pricing.html" class="transition">Pricing</a>#}
{#                        </li>#}
{#                        <li class="dropdown show-on-hover">#}
{#                            <a href="javascript:;" class="ignore" data-toggle="dropdown"><span>Pages</span></a>#}
{#                            <ul class="dropdown-menu">#}
{#                                <li>#}
{#                                    <a href="contact.html" class="transition">Support (Working Contact Form)</a>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="gallery.html" class="transition">Gallery</a>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="team.html" class="transition">Meet The Team</a>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="elements.html" class="transition">Elements</a>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="blog.html" class="transition">Blog</a>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="post.html" class="transition">Single blog item</a>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="feature.html" class="transition">Feature View</a>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="404.html" class="transition">Frontend 404 page</a>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="#" class="transition">Login</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="#" class="nav-btn btn btn-success btn-rounded transition">Sign Up</a>#}
{#                        </li>#}
                        <li>
                            <a href class="nav-btn btn btn-success btn-rounded transition">Проекты</a>
                        </li>
                    </ul>
                </div>
                <!-- /links -->
            </nav>
        </div>

    </header>
    <!-- /menu navigation -->

    <!-- hero -->
    <section id="top" class="content-section hero vertical-center">

        <div class="hero-parallax parallax" style="background-image: url({% static 'img/cover7.jpg' %});"></div>

        <div class="overlay overlay-colored-9"></div>

        <div class="container">
            <div class="hero-container">
                <h1 class="hero-title" data-animation="fadeInLeft"><b>Строительство загородных домов</b></h1>
                <div class="hero-sub-title" data-animation="fadeInRight">
{#                    <em>The most intFuitive and flexible web app on the market</em>#}
{#                    <em>stroimdomplus.ru</em>#}
                    <em>загородные коттеджи, дачные дома и бани в Санкт-Петербурге, Ленинградской области и других регионах России</em>
{#                    <a href="stroimdomplus.ru" target="_blank"><em>stroimdomplus.ru</em></a>#}
                </div>
                <div class="call-to-action heading-font">
                    <a href="#how" class="btn btn-white btn-lg btn-outline smooth-scroll">Узнать больше</a>
{#                    <a href="http://vimeo.com/61741062" class="btn btn-white btn-lg popup-video">#}
{#                        <i class="fa fa-play mr10"></i>#}
{#                        <span>Watch the video</span>#}
{#                    </a>#}
                </div>
            </div>
        </div>

    </section>
    <!-- /hero -->

    <!-- how it works section -->
    <section id="how" class="content-section">
        <div class="container">

            <div class="col-md-8 col-md-offset-2">
                <div class="section-title">
{#                    <h5 class="heading" data-animation="fadeInDown" data-appear-top-offset="-200"><em>how it works</em></h5>#}
                    <h5 class="heading" data-animation="fadeInDown" data-appear-top-offset="-200"><em>кратко о нас</em></h5>
{#                    <h4 class="sub-heading" data-animation="fadeInUp" data-appear-top-offset="-190">What you need to know about <span class="color">Sublime App</span></h4>#}
                    <h4 class="sub-heading" data-animation="fadeInUp" data-appear-top-offset="-190">Что вам необходимо знать о компании <span class="color">Строим Дом</span></h4>
                </div>
            </div>

            <div class="row text-center">

                <div class="col-sm-4">

                    <!-- feature -->
                    <div data-animation="fadeInLeft">
                        <div class="feature-icon bordered">
{#                            <i class="ti-pencil-alt color"></i>#}
                            <i class="ti-hummer color"></i>
                        </div>
                        <div class="feature-description">
                            <h5>
                                <span>СТРОИТЕЛЬСТВО ЗАГОРОДНЫХ ДОМОВ</span>
{#                                <small class="show text-muted">REBUM ACCUSAMUS MEA</small>#}
                            </h5>

{#                            <p>Nam an oblique equidem. An mazim tibique hendrerit est, albucius voluptua ex has. Ei cum eius dicant facilisis, ne diam rebum accusamus mea.</p>#}
                            <p>Основное направление деятельности Строительной группы "Строим Дом™". Мы строим <b>загородные коттеджи</b>
                        из <a target="_blank" href="http://stroimdomplus.ru/%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B_%D0%B4%D0%BE%D0%BC%D0%BE%D0%B2_%D0%B8%D0%B7_%D0%B3%D0%B0%D0%B7%D0%BE%D0%B1%D0%B5%D1%82%D0%BE%D0%BD%D0%B0.html">газобетонных блоков</a>
                        и <a target="_blank" href="http://stroimdomplus.ru/%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B_%D0%BA%D0%B8%D1%80%D0%BF%D0%B8%D1%87%D0%BD%D1%8B%D1%85_%D0%B4%D0%BE%D0%BC%D0%BE%D0%B2.html">кирпича</a>.
                        и дачные дома и бани из <a target="_blank" href="http://stroimdomplus.ru/%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B_%D0%B4%D0%BE%D0%BC%D0%BE%D0%B2_%D0%B8%D0%B7_%D0%B1%D1%80%D1%83%D1%81%D0%B0.html">профилированного бруса</a> в Санкт-Петербурге, Ленинградской области и других регионах России.</p>
                        </div>
                    </div>
                    <!-- /feature -->

                </div>

                <div class="col-sm-4">

                    <!-- feature -->
                    <div data-animation="fadeInUp">
                        <div class="feature-icon bordered">
{#                            <i class="ti-bookmark-alt color"></i>#}
                            <i class="ti-medall-alt color"></i>
                        </div>
                        <div class="feature-description">
                            <h5>
                                <span>НАДЕЖНОСТЬ</span>
{#                                <small class="show text-muted">REBUM ACCUSAMUS MEA</small>#}
                            </h5>
                            <p>С 2005 года компания прочно удерживает лидирующие позиции в данном сегменте строительного рынка благодаря наличию собственной базы строительных материалов и автомобильного парка спецтехники,
                        позволивших значительно снизить себестоимость строительства, квалифицированному персоналу и широкому спектру
                        <a target="_blank" href="http://stroimdomplus.ru/">сопутствующих услуг</a>.</p>
                        </div>
                    </div>
                    <!-- /feature -->

                </div>

                <div class="col-sm-4">

                    <!-- feature -->
                    <div data-animation="fadeInRight">
                        <div class="feature-icon bordered">
{#                            <i class="ti-brush-alt color"></i>#}
                            <i class="ti-star color"></i>
                        </div>
                        <div class="feature-description">
                            <h5>
                                <span>ВОСТРЕБОВАННОСТЬ</span>
{#                                <small class="show text-muted">REBUM ACCUSAMUS MEA</small>#}
                            </h5>
                            <p>За последние 5 лет нами построено более 50 дачных. Наличие собственной базы строительных материалов, многолетний опыт и отлаженные
                        технологии брусового строительства позволяют нам выполнять весь комплекс строительных работ качественно и в срок.</p>
                        </div>
                    </div>
                    <!-- /feature -->

                </div>
            </div>
        </div>
    </section>
    <!-- /how it works section -->

    <!-- statistics -->
    <section id="statistics" class="content-section banner parallax color-inherit text-white text-center" style="background-image: url({% static 'img/cover1.jpg' %});">

        <div class="overlay-colored-9"></div>

        <div class="container">
            <div class="row">

                <div class="col-sm-3 col-xs-6 p15">
{#                    <i class="count-icon ti-time"></i>#}
                    <i class="count-icon ti-key"></i>
                    <b class="count" data-from="0" data-to="1000" data-appear-top-offset="-200">0</b>
{#                    <span class="heading-font">Free API requests</span>#}
                    <span class="heading-font">Сданных коттеджей</span>
                </div>

                <div class="col-sm-3 col-xs-6 p15">
                    <i class="count-icon ti-home"></i>
                    <b class="count" data-from="0" data-to="2300" data-appear-top-offset="-200">0</b>
{#                    <span class="heading-font">Happy Customers</span>#}
                    <span class="heading-font">Сданных дачных домов</span>
                </div>

                <div class="col-sm-3 col-xs-6 p15">
                    <i class="count-icon ti-package"></i>
                    <b class="count" data-from="0" data-to="6850" data-appear-top-offset="-200">0</b>
{#                    <span class="heading-font">Servers Created</span>#}
                    <span class="heading-font">Сданных бань и бытовок</span>
                </div>

                <div class="col-sm-3 col-xs-6 p15">
{#                    <i class="count-icon ti-na"></i>#}
                    <i class="count-icon ti-face-smile"></i>
                    <b class="count" data-from="0" data-to="8650" data-appear-top-offset="-200">0</b>
{#                    <span class="heading-font">Tickets Answered</span>#}
                    <span class="heading-font">Счастливых обладателей и новоселов</span>
                </div>

            </div>
        </div>

    </section>
    <!-- /statistics -->

    <!-- features section -->
    <section id="features" class="content-section features feature light">
        <div class="container">

            <div class="col-md-8 col-md-offset-2">
                <div class="section-title">
{#                    <h5 class="heading" data-animation="fadeInDown" data-appear-top-offset="-200"><em>admin dashboard features</em></h5>#}
                    <h5 class="heading" data-animation="fadeInDown" data-appear-top-offset="-200"><em>акции и выгодные предложения</em></h5>
                    <h4 class="sub-heading" data-animation="fadeInUp" data-appear-top-offset="-190">Интересные <b class="color">Предложения</b></h4>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="row">

                        <div class="col-md-12 mb15" data-animation="fadeInRight" data-appear-top-offset="-200">
                            <div class="feature-icon left">
                                <i class="ti-bag color"></i>
                            </div>
                            <div class="feature-description">
                                <h5>БАНЯ ИЗ БРУСА "ПОД КЛЮЧ" ЗА ДВЕ НЕДЕЛИ</h5>
                                <p>Цена 106 000 руб! ПЕЧКА в ПОДАРОК! Спешите по Акции осталось 19 бань! Узнайте подробности 642-07-05</p>
                            </div>
                        </div>

                        <div class="col-md-12 mb15" data-animation="fadeInDown" data-delay="200" data-appear-top-offset="-200">
                            <div class="feature-icon left">
                                <i class="ti-bag color"></i>
                            </div>
                            <div class="feature-description">
                                <h5>АКЦИЯ 2</h5>
                                <p>Описание</p>
                            </div>
                        </div>

                        <div class="col-md-12 mb15" data-animation="fadeInLeft" data-delay="200" data-appear-top-offset="-200">
                            <div class="feature-icon left">
                                <i class="ti-bag color"></i>
                            </div>
                            <div class="feature-description">
                                <h5>АКЦИЯ 3</h5>
                                <p>Описание</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6 text-center ">
                    <div class="mt25"></div>
{#                    <img src="{% static 'img/feature-shot.png' %}" class="mt25" data-animation="fadeInUp" alt="">#}
                    <img src="{% static 'img/advertizing_1.jpg' %}" class="mt25" data-animation="fadeInUp" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- /features section -->

    <!-- ext features section -->
    <section id="partners" class="content-section">

        <div class="container">

            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-11">
                    <img src="{% static 'img/partners.jpg' %}">
                </div>
{#                <div class="col-sm-4 p25" data-animation="fadeIn">#}
{#                    <div class="feature-icon left">#}
{#                        <i class="ti-layout color"></i>#}
{#                    </div>#}
{#                    <div class="feature-description">#}
{#                        <h5>RESPONSIVE</h5>#}
{#                        <p>Lorem ipsum dolor sit amet, modus impedit pertinax vix ne, quem intellegat duo ex.</p>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-sm-4 p25" data-animation="fadeIn">#}
{#                    <div class="feature-icon left">#}
{#                        <i class="ti-world color"></i>#}
{#                    </div>#}
{#                    <div class="feature-description">#}
{#                        <h5>MODERN DESIGN</h5>#}
{#                        <p>Lorem ipsum dolor sit amet, modus impedit pertinax vix ne, quem intellegat duo ex.</p>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-sm-4 p25" data-animation="fadeIn">#}
{#                    <div class="feature-icon left">#}
{#                        <i class="ti-layout-grid4 color"></i>#}
{#                    </div>#}
{#                    <div class="feature-description">#}
{#                        <h5>DIFFERENT LAYOUTS</h5>#}
{#                        <p>Lorem ipsum dolor sit amet, modus impedit pertinax vix ne, quem intellegat duo ex.</p>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-sm-4 p25" data-animation="fadeIn">#}
{#                    <div class="feature-icon left">#}
{#                        <i class="ti-bookmark-alt color"></i>#}
{#                    </div>#}
{#                    <div class="feature-description">#}
{#                        <h5>WELL DOCUMENTED</h5>#}
{#                        <p>Lorem ipsum dolor sit amet, modus impedit pertinax vix ne, quem intellegat duo ex.</p>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-sm-4 p25" data-animation="fadeIn">#}
{#                    <div class="feature-icon left">#}
{#                        <i class="ti-truck color"></i>#}
{#                    </div>#}
{#                    <div class="feature-description">#}
{#                        <h5>FREE LIFETIME UPDATES</h5>#}
{#                        <p>Lorem ipsum dolor sit amet, modus impedit pertinax vix ne, quem intellegat duo ex.</p>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-sm-4 p25" data-animation="fadeIn">#}
{#                    <div class="feature-icon left">#}
{#                        <i class="ti-palette color"></i>#}
{#                    </div>#}
{#                    <div class="feature-description">#}
{#                        <h5>COLOR OPTIONS</h5>#}
{#                        <p>Lorem ipsum dolor sit amet, modus impedit pertinax vix ne, quem intellegat duo ex.</p>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-sm-4 p25" data-animation="fadeIn">#}
{#                    <div class="feature-icon left">#}
{#                        <i class="ti-settings color"></i>#}
{#                    </div>#}
{#                    <div class="feature-description">#}
{#                        <h5>EASY TO CUSTOMIZE</h5>#}
{#                        <p>Lorem ipsum dolor sit amet, modus impedit pertinax vix ne, quem intellegat duo ex.</p>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-sm-4 p25" data-animation="fadeIn">#}
{#                    <div class="feature-icon left">#}
{#                        <i class="ti-user color"></i>#}
{#                    </div>#}
{#                    <div class="feature-description">#}
{#                        <h5>QUICK SUPPORT TEAM</h5>#}
{#                        <p>Lorem ipsum dolor sit amet, modus impedit pertinax vix ne, quem intellegat duo ex.</p>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-sm-4 p25" data-animation="fadeIn">#}
{#                    <div class="feature-icon left">#}
{#                        <i class="ti-brush-alt color"></i>#}
{#                    </div>#}
{#                    <div class="feature-description">#}
{#                        <h5>GUARANTEED SATISFACTION</h5>#}
{#                        <p>Lorem ipsum dolor sit amet, modus impedit pertinax vix ne, quem intellegat duo ex.</p>#}
{#                    </div>#}
{#                </div>#}

            </div>

        </div>

    </section>
    <!-- /ext features section -->

    <!-- quote banner -->
    <section class="content-section banner">

        <div class="parallax-cover parallax-0" style="background-image: url({% static 'img/cover2.jpg' %});"></div>

        <div class="overlay-darken-4"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="text-center">
                        <blockquote class="text-white">
{#                            <p>Outside of the chair, the teapot is the most ubiquitous and important design element in the domestic environment and almost everyone who has tackled the world of design has ended up designing one.</p>#}
                            <p>Наличие собственной базы строительных материалов, квалифицированный персонал и отлаженные технологии строительства позволяют нам выполнять весь комплекс строительных работ качественно и в срок.</p>
{#                            <small class="color">David McFadden</small>#}
                            <small class="color">Строим Дом</small>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /quote banner -->

    <!-- reviews -->
{#    <section id="reviews" class="content-section light">#}
{##}
{#        <div class="container">#}
{#            <!-- reviews loaded via ajax -->#}
{#            <div class="reviews-carousel" data-animation="fadeIn" data-appear-top-offset="-200"></div>#}
{#            <!-- /reviews loaded via ajax -->#}
{#        </div>#}
{##}
{#    </section>#}
    <!-- /reviews -->

    <!-- subscribe section -->
    <section id="callme" class="content-section banner bg-color text-white color-inherit text-center">
        <div class="container">
            <div class="section-title mb0">
{#                <h4 data-animation="fadeInUp" data-appear-top-offset="-190">Subscribe to our newsletter</h4>#}
                <h4 data-animation="fadeInUp" data-appear-top-offset="-190">Закажите обратный звонок</h4>

{#            </div><small>Lorem ipsum dolor sit amet, modus impedit pertinax vix ne, quem intellegat duo ex.</small>#}
            </div><small>Оставьте номер телефона и наш специалист свяжется с Вами в течение 2 часов</small>

            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <form method="post" role="form" action="inc/subscribe.php" name="subscribeform" id="subscribeform">

                        <div style="display:none;visibility:hidden">
                            <input type="text" id="check" name="check">
                        </div>

                        <div class="input-group mb15 mt25">
{#                            <input type="email" class="form-control input-lg no-b" id="email" name="email" placeholder="Your email address" required>#}
                            <input type="email" class="form-control input-lg no-b" id="email" name="email" placeholder="Введите номер телефона" required>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-success btn-lg subscribe" data-loading-text="Adding to our list ...">
{#                                    <span>Subscribe</span>#}
                                    <span>Заказать</span>
                            <i class="ti-arrow-circle-right ml15"></i>
                            </button>
                            </span>
                        </div>

                        <!-- subscribe form alert box container -->
                        <div class="subscribe-message">
                            <div class="response" id="response"></div>
                        </div>
                        <!-- /subscribe form alert box container -->

                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- subscribe section -->

    <!-- footer -->
    <footer class="content-section">

        <div class="container">

            <div class="row text-center">

                <div class="col-sm-12 mb25">

                    <a class="btn btn-primary btn-social-icon btn-rounded btn-outline btn-sm smooth-scroll mb25" href="#top">
                        <i class="ti-angle-up"></i>
                    </a>

                    <br>

                    <a class="btn btn-social-icon btn-facebook btn-rounded btn-sm ml5 mr5" href="javascript:;">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a class="btn btn-social-icon btn-twitter btn-rounded btn-sm ml5 mr5" href="javascript:;">
                        <i class="fa fa-twitter"></i>
                    </a>

                    <a class="btn btn-social-icon btn-google-plus btn-rounded btn-sm ml5 mr5" href="javascript:;">
                        <i class="fa fa-google-plus"></i>
                    </a>

                </div>

                <div class="col-sm-12 mb25">
{#                    <p>Made with&nbsp;<i class="ti-heart text-danger"></i>&nbsp;in Paris France</p>#}
{#                    <small class="show">&copy;&nbsp;Copyright Sub<span class="color">Lime</span>&nbsp;LLC&nbsp;<span class="year"></span>. All rights reserved</small>#}
                    <small class="show">&copy;&nbsp;Copyright <span class="color">Строим Дом </span><span class="year"></span>. Все права защищены</small>
                </div>
            </div>
        </div>
    </footer>
    <!-- /footer -->

    <!-- core scripts -->
    <script src="{% static 'plugins/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'plugins/appear/jquery.appear.js' %}"></script>
    <script src="{% static 'plugins/nav/jquery.nav.js' %}"></script>
    <script src="{% static 'plugins/jquery.easing.min.js' %}"></script>
    <!-- /core scripts -->

    <!-- page level scripts -->
    <script src="{% static 'plugins/jquery.parallax.js' %}"></script>
    <script src="{% static 'plugins/isotope/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'plugins/count-to/jquery.countTo.js' %}"></script>
    <script src="{% static 'plugins/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <!-- /page level scripts -->

    <!-- template scripts -->
    <script src="{% static 'js/main.js' %}"></script>
    <!-- /template scripts -->

    <!-- page script -->
    <script src="{% static 'js/subscribe.js' %}"></script>
    <script src="{% static 'js/demo_home.js' %}"></script>
    <!-- /page script -->

</body>

</html>
